.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  background-color: var(--main-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
}

.section {
  padding: 60px 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
  }
}

.logo {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 2.01;
  text-decoration: none;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .logo {
    color: #2196F3;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    color: #2196F3;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-bottom: 0;
  }
}
.logo > .logo__label {
  color: #FFFFFF;
}

/* Header */
.page-header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    width: 1200px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo__inner {
  color: #000000;
}

.main-nav {
  background-color: #FFFFFF;
  color: #212121;
  letter-spacing: 0.02em;
}
.main-nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-nav__list {
    display: flex;
    margin-left: 93px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: #212121;
    list-style-type: none;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__list {
    display: flex;
    margin-left: 93px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: #212121;
    list-style-type: none;
  }
  .main-nav__list .main-nav__list .main-nav__item + .main-nav__item {
    margin-left: 50px;
  }
}
.main-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.main-nav__link:hover, .main-nav__link:focus {
  color: #2196F3;
}

.main-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__list {
    display: flex;
    margin-left: 88px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: #212121;
    list-style: none;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__list {
    display: flex;
    margin-left: 93px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: #212121;
    list-style: none;
  }
}
.main-nav__list .main-nav__item + .main-nav__item {
  margin-left: 50px;
}
.main-nav__list .link--underline::after {
  content: "";
  position: absolute;
  min-width: 48px;
  height: 4px;
  left: 0;
  background-color: #2196F3;
  border-radius: 2px;
  bottom: 0;
  display: inline-block;
  background-size: cover;
}
.main-nav__list .link--doubleunderline::after {
  content: "";
  position: absolute;
  min-width: 78px;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  display: inline-block;
  background-size: cover;
}

.link--underline {
  color: #2196F3;
  position: relative;
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: inline-block;
    background-color: #FFFFFF;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    background-color: #FFFFFF;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    padding: 0;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
  }
}
.contact.contact__item + .contact__item {
  margin-left: 30px;
}

.contact__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .contact__item {
    display: inline-block;
    background-color: #FFFFFF;
    list-style: none;
    padding: 0;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    margin-left: 0;
  }
  .contact__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contact__icon {
  cursor: pointer;
  margin-right: 8px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__icon .contact__link:hover, .contact__link:focus .contact__icon {
  fill: #2196F3;
}

.contact__link {
  color: #757575;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contact__link {
    font-size: 12px;
  }
  .contact__link:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
  }
}
.contact__link:hover, .contact__link:focus {
  color: #2196F3;
}

.contact__icon {
  cursor: pointer;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .contact__icon {
    width: 13px;
    height: 10px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .contact__icon--phone {
    width: 10px;
    height: 14px;
  }
}

.mobile-nav__image {
  width: 24px;
  height: 16px;
}

/* Hero */
.hero {
  background-color: #2F303A;
  height: 400px;
  padding: 118px 0;
  background-color: #FFFFFF;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-hero.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  }
}

.hero__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.hero__wrapper {
  text-align: center;
  position: relative;
}

/* Button */
.hero__button {
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
}
.hero__button:hover, .hero__button:focus {
  color: var #FFFFFF;
  background-color: #188CE8;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    z-index: 1;
  }
}

.button-secondary {
  color: #212121;
  background: #F5F4FA;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  font-family: "Roboto", sans-serif;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__list .filter__item + .filter__item {
  margin-left: 8px;
}

.button-secondary:hover,
.button-secondary:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.chekbox-button {
  display: block;
  text-align: center;
  background-color: #2196F3;
  border: none;
  width: 200px;
  padding: 10px 55px;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.chekbox-button:hover, .chekbox-button:focus {
  background-color: #188CE8;
}

/* Benefits */
.benefits__heading {
  background-color: #FFFFFF;
  color: transparent;
  font-size: 0;
}

.benefits__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    margin-bottom: 0;
  }
}

.benefits__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
  .benefits__item:nth-child(odd) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
    display: block;
    margin-left: 0;
  }
  .benefits__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    margin-bottom: 0;
  }
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item:nth-child(3) {
    margin-bottom: 0;
  }
}

.benefits__thumb {
  padding: 25px;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 768px) {
  .benefits__thumb {
    padding: 25px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__thumb {
    padding: 25px;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
  }
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}

.benefits__text {
  background-color: #FFFFFF;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

/* About areas of work */
.work {
  background-color: #FFFFFF;
  padding-top: 0;
}
.work__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.work__item {
  position: relative;
}
.work__wrapper {
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
}
.work__list .work__item:not(:last-child) {
  margin-right: 30px;
}
.work__image {
  display: block;
}
.work__text {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  margin-bottom: 0;
  margin-top: 0;
}

.section.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section.work {
    display: flex;
  }
}

/* Our Team */
.team {
  background-color: #F5F4FA;
  color: #212121;
}

.team__heading {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
.team__list {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.team__card {
  background-color: #FFFFFF;
  color: #212121;
  max-width: 480px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: 270px;
  }
}
.team__wrapper {
  padding-top: 30px;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
}
.team__post {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 0;
}
.team__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
  .team__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (min-width: 768px) {
  .team__item:nth-child(3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .team__heading {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .team__heading {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team-network {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
  margin-top: 16px;
}
.team-network__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-network__link:hover, .team-network__link:focus {
  background-color: #2196F3;
}
.team-network__link:hover, .team-network__link:focus {
  fill: #FFFFFF;
}

.team-network__wrapper {
  display: flex;
  text-align: center;
}
.team-network__wrapper:hover {
  color: #2196F3;
}

.team__img {
  max-width: 100%;
}

/* Clients */
.customer__title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}
.customer__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .customer__list {
    flex-wrap: nowrap;
  }
}
.customer__link {
  height: 100%;
  display: flex;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__link:hover, .customer__link:focus {
  fill: #2196F3;
  border-color: #2196F3;
}
.customer__image {
  width: 106px;
  height: 60px;
}
.customer__item {
  flex-basis: calc((100% - 30px) / 2);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .customer__item {
    flex-basis: calc((100% - 60px) / 3);
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customer__item {
    width: 170px;
  }
}

@media screen and (min-width: 768px) {
  .customer__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .customer__item:nth-child(-n+3) {
    margin-bottom: 0;
  }
}
.customer__item:nth-child(n+5):nth-child(-n+6) {
  margin-bottom: 0;
}
.customer__item:nth-child(n+4):nth-child(-n+6) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .customer__item:nth-child(n+4):nth-child(-n+6) {
    margin-bottom: 0x;
  }
}
@media screen and (min-width: 1200px) {
  .customer__item:nth-child(n+4):nth-child(-n+6) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .customer__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .customer__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .customer__link {
    width: 170px;
  }
}

@media screen and (min-width: 1200px) {
  .customer__link:last-child {
    margin-right: 0;
  }
}
.team-network__item:not(:last-child) {
  margin-right: 10px;
}

.container.customer {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container.customer {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container.customer {
    max-width: 1200px;
    width: 100%;
  }
}

/* Footer */
.footer-main {
  background-color: #2F303A;
  color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .footer-main {
    display: flex;
    height: 252px;
  }
}
.footer-main__wrapper {
  display: block;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-main__wrapper {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-main__wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    align-items: baseline;
    justify-content: flex-start;
  }
}

.container.footer {
  display: inline-block;
  padding: 0px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .container.footer {
    width: 232px;
    margin: 0;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container.footer {
    width: 231px;
    padding: 0px;
    margin-left: 0;
    margin-right: 70px;
    text-align: left;
  }
}

.footer__adress {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}
.footer__adress:hover, .footer__adress:focus {
  color: #2196F3;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}
.footer__link:hover, .footer__link:focus {
  color: #2196F3;
}
.footer__list {
  list-style-type: none;
  margin: 0;
  vertical-align: auto;
  padding-left: 0;
  margin-top: 20px;
  width: 231px;
  height: 81px;
  display: inline-block;
  flex-wrap: wrap;
  padding: 0px;
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

/* footer social-network */
.footer-network {
  height: 80px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-network {
    display: flex;
    flex-wrap: wrap;
    width: 206px;
    height: 80px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 93px;
  }
}
.footer-network__title {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 0;
}
.footer-network__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-widht: 1200px) {
  .footer-network__list {
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.footer-network__item {
  width: 44px;
  height: 44px;
}
.footer-network__item:not(:last-child) {
  margin-right: 10px;
}
.footer-network__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-network__link:hover, .footer-network__link:focus {
  background-color: #2196F3;
}
.footer-network__image {
  display: flex;
  fill: #FFFFFF;
  text-align: center;
}

/* Footer email-box */
.email-form__title {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .email-form__title {
    text-align: left;
  }
}
.email-form__input {
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  max-width: 450px;
  width: 100%;
  height: 50px;
  margin-right: 0;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .email-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .email-form__input {
    max-width: 358px;
  }
}

.email-button {
  background-color: #2196F3;
  width: 200px;
  margin: 0;
  background: #2196F3;
  border-radius: 4px;
  position: absolute;
  border: none;
  cursor: pointer;
  padding: 10px 29px;
  text-align: center;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
@media screen and (min-widht: 1200px) {
  .email-button {
    display: inline-flex;
    margin-left: 0px 0px 0px 12px;
  }
}
.email-button__image {
  fill: #FFFFFF;
  vertical-align: middle;
  margin-left: 10px;
}
.email-button__label {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.email-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188CE8;
}

.email-form__wrapper {
  display: block;
}
@media screen and (min-widht: 768px) {
  .email-form__wrapper {
    display: flex;
  }
}
.email-button__wrapper {
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
}
@media screen and (min-widht: 768px) {
  .email-button__wrapper {
    margin-top: 20px;
  }
}
@media screen and (min-widht: 1200px) {
  .email-button__wrapper {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .email-button {
    display: inline-flex;
    margin-left: 12px;
  }
}
.email-button_wrapper {
  margin: 0 auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .email-button_wrapper {
    margin: 0;
    padding: 0;
    display: contents;
  }
}

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  padding: 94px 15px;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  width: 100%;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 450px;
    top: 50%;
    left: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    top: 50%;
    left: 50%;
  }
}

.modal__button {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: #2196F3;
}
.modal__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 0;
}
.modal__span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}
.modal__span:not(:last-child) {
  margin-top: 10px;
}
.modal__span:last-child {
  margin-top: 0;
}
.modal__wrapper {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
.modal__image {
  fill: #000000;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__image:hover {
  fill: #2196F3;
}
.modal__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 8px 8px 42px;
  outline: none;
  color: #757575;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid #2196F3;
}
.modal__input:hover + .modal__image {
  fill: #2196F3;
}

.modal__input:hover + .modal__image {
  fill: #2196F3;
}

.modal__coments {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  color: #757575;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__coments:hover, .modal__coments:focus {
  border: 1px solid #2196F3;
}
.modal__coments::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}

.chekbox > span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .chekbox > span {
    font-size: 14px;
  }
}

.chekbox__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.chekbox__hidden:checked + .checkbox__image {
  opacity: 1;
  background-color: #2196F3;
}

.chekbox {
  display: flex;
  align-items: center;
  height: 24px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}
.chekbox__image {
  fill: #ffffff;
  position: absolute;
  opacity: 0;
  background-color: #FFFFFF;
}
.chekbox__fake {
  border: 2px solid #000000;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
}
.chekbox__link {
  color: #2196F3;
}

.chekbox-button__label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.87;
  color: #FFFFFF;
  padding: 0;
}

.chekbox__hidden:checked + .chekbox__image {
  opacity: 1;
  background-color: #2196f3;
}

body.modal-open {
  overflow: hidden;
}

/* Page portfolio */
.main {
  background-color: #FFFFFF;
}

.filter__title {
  color: transparent;
  font-size: 0;
}

.filter__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .filter__list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter__list {
    justify-content: center;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 50px;
    flex-wrap: nowrap;
  }
}

.filter__item:nth-child(n+4):nth-child(-n+5) {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .filter__item:nth-child(n+4):nth-child(-n+5) {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .filter__item:nth-child(n+4):nth-child(-n+5) {
    margin-top: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 391px) {
  .filter__list .filter__item:nth-child(3) {
    margin-top: 15px;
    margin-left: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 390px) {
  .filter__list .filter__item:nth-child(5) {
    margin-left: 0;
  }
}

@media screen and (min-width: 392px) and (max-width: 767px) {
  .filter__list .filter__item:nth-child(4) {
    margin-left: 0;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .filter__list {
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter__list {
    margin-top: 0;
  }
}

.examples__list {
  list-style-type: none;
  letter-spacing: 0.06em;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.examples__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  margin-top: 0;
}
.examples__link {
  background-color: #FFFFFF;
  color: #212121;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.examples__link:hover, .examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples__paragraph {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 0;
}
.examples__item {
  cursor: pointer;
}
.examples__item:not(:last-child) {
  margin-bottom: 30px;
}
.examples__wrapper {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px) {
  .examples__wrapper {
    height: 146px;
  }
}
@media screen and (min-width: 1200px) {
  .examples__wrapper {
    height: auto;
  }
}
.examples__text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
  margin-top: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.examples__overlay {
  position: relative;
  overflow: hidden;
}

.examples__item {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .examples__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .examples__item:nth-child(odd) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .examples__item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 60px) / 3);
  }
  .examples__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  .examples__item:nth-child(3n) {
    margin-right: 0;
  }
}

.container.examples {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .container.examples {
    display: block;
  }
}
.examples__link:hover .examples__text, .examples__link:focus .examples__text {
  transform: translateY(0);
}

.examples__overlay > img {
  display: block;
}

.examples__picture {
  width: 354px;
}

.examples_image {
  width: 100%;
  display: block;
}

.mobile-nav__menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 48px 35px;
  background-color: #ffffff;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .mobile-nav__menu-container.is-open {
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .mobile-nav__menu-container {
    display: none;
  }
}
.mobile-nav__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__button .icon-cross {
  width: 24px;
  height: 16px;
  display: none;
}
.mobile-nav__button.is-open .icon-cross {
  display: block;
}
.mobile-nav__button.is-open .icon-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .mobile-nav__button {
    display: none;
  }
}

.mobile-nav__button:hover .icon-cross,
.mobile-nav__button:focus .icon-cross,
.mobile-nav__button:hover .icon-menu,
.mobile-nav__button:focus .icon-menu {
  fill: #2196F3;
}

.mobile-nav__menu-container__navigation {
  margin-bottom: auto;
}
.mobile-nav__menu-container__item {
  list-style: none;
  font-size: 40px;
  line-height: 46.88px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: left;
  padding-left: 0;
  margin: 0;
}
.mobile-nav__menu-container__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-nav__menu-container__list {
  padding: 0;
  margin: 0;
}
.mobile-nav__menu-container__link {
  text-decoration: none;
  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__menu-container__link:hover, .mobile-nav__menu-container__link:focus {
  color: #2196F3;
}

.menu-container-contacts {
  margin-bottom: 64px;
}
.menu-container-contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-container-contacts__item {
  padding: 0;
  margin: 0;
  text-align: start;
}
.menu-container-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__menu-container.mobile-nav__menu-container.is-open .menu-container-contacts {
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  body.no-scroll {
    overflow: hidden;
  }
}

.contact__link.tel {
  text-decoration: none;
  color: #2196F3;
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 500px;
}

.contact__link.mail {
  font-size: 24px;
}

.menu-container-network__list {
  list-style: none;
  display: flex;
  justify-content: start;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  row-gap: 8px;
}
.menu-container-network__link {
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #2196F3;
  letter-spacing: 0.02em;
}
.menu-container-network__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.menu-container-network__item:not(:first-child) {
  padding-left: 10px;
}/*# sourceMappingURL=main.css.map */