/* Benefits */

.benefits__heading {
    background-color: $main-white-color;
    color: transparent;
    font-size: 0;
}

.benefits__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
        & .benefits__item+.benefits__item {
            margin-left: 30px;
        }
}
.benefits__item {
    width: 270px;
}


.benefits__thumb {
    @include CenterFlex ();
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: $bg-seconfary-color;
}

.benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
}


.benefits__text {
    background-color: $main-white-color;
    color: $little-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}

