/* Clients */

.customer {
    &__title {
        font-weight: 700px;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 0;
        }
    &__list {
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        flex-wrap: wrap;
            @media screen and (min-width:768px){
                
            }
            @media screen and (min-width:1200px) {
                flex-wrap: nowrap;
            }
        }

    &__link {
        height: 100%;
        display: flex;
        // width: 170px;
        height: 92px;
        border: 1px solid rgba(175, 177, 184, 1);
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        fill: $social-links-color;
        transition: fill $transition;
            &:hover,
            &:focus {
                fill: $accent-color;
                border-color: $accent-color;
            } 
        }
    &__image {
        width: 106px;
        height: 60px;
    }


    &__item {
        flex-basis: calc((100% - 1 * 30px)/2);
        margin-bottom: 30px;
        @media screen and (min-width:768px) {
        flex-basis: calc((100% - 2 * 30px)/3);
        width: 226px;}
        @media screen and (min-width:1200px){
        width:170px;
        }
    }
}

.customer {
    &__item:nth-child(-n+3) {
        @media screen and (min-width:768px) {
            margin-bottom: 30px;}
        @media screen and (min-width:1200px) {
            margin-bottom: 0;
        }}
    &__item:nth-child(n+5):nth-child(-n+6) {
        margin-bottom: 0;
    }
    &__item:nth-child(n+4):nth-child(-n+6) {
            margin-bottom: 0;
            @media screen and (min-width:768px) {
                margin-bottom: 0x;
            }
            @media screen and (min-width:1200px) {
                margin-bottom: 0;
            }
        }
    &__title {
        @media screen and (min-width:480px) and (max-width:1200px) {
        font-size: 28px;}
        @media screen and (min-width:480px) and (max-width:1200px) {
        font-size: 36px;
        margin-bottom: 50px;
        }
    }
}


.customer__link {
    @media screen and (min-width:1200px) {
        width: 170px;
    }
}

@media screen and (min-width:1200px) {
.customer__link:last-child {
    margin-right: 0;}
}

.team-network__item:not(:last-child) {
    margin-right: 10px;
}

.container.customer {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
        @media screen and (min-width:768px) {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
        }
    
        @media screen and (min-width:1200px) {
        max-width: 1200px;
        width: 100%;
        }
}