.logo {
color: $accent-color;
font-family: $LogoFont;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
margin-bottom: 0;
    &>.logo__label {
    color: $main-white-color;}
}

